*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 40px;
  background: #e5e7eb;
  display: flex;
  font-size: 10pt;
}

h1 {
  font-family: "Archivo Black", sans-serif;
}

/* ----- pages ----- */
.page {
  width: 210mm;
  min-height: 297mm;
  background: white;
  padding: 10mm;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* ----- contact-bar ----- */
.contact-bar {
  background: grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

.contact-item svg {
  width: 1em;
  height: 1em;
}

/* ===== PRINT ===== */

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    background: white;
    padding: 0;
  }

  .page {
    width: 210mm;
    min-height: 297mm;
    margin: 0;
    box-shadow: none;
    page-break-after: always;
  }
}
