*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 40px;
  background: #e5e7eb;
  display: flex;
}

h1 {
  font-family: "Archivo Black", sans-serif;
}

/* ----- pages ----- */
.page {
  width: 210mm;
  min-height: 297mm;
  background: white;
  padding: 20mm;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* ===== PRINT ===== */

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    background: white;
    padding: 0;
  }

  .page {
    width: 210mm;
    min-height: 297mm;
    margin: 0;
    box-shadow: none;
    page-break-after: always;
  }
}
